@layout('layouts/home')

@section('content-1')

@include('partials/home/slider')
@entryPointScripts('slider')

@end

@section('aside-1')

@include('partials/home/topDiscussion')

@end


@section('content-2')

@include('partials/home/list')

@end

@section('aside-2')

@include('partials/home/stats')

@end
