@layout('layouts/info')

@section('content')

@include('partials/info/main')
@include('partials/info/listChapters')
@end

@section('aside')

@include('partials/info/author')
@include('partials/info/notes')

@end
