<div class="modal-box">
    @include('partials/themeSwitcher')
    <div class="modal-action">
       <a href="#" class="btn btn-primary">Accept</a> 
       <a href="#" class="btn">Close</a>
    </div>

</div>