<!DOCTYPE html>
<html lang="vn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="shortcut icon" href="/favicon.ico">
    @entryPointStyles('app')
</head>
<body class="flex flex-col min-h-screen">
    @include('partials/navbar')
    <div class="flex-grow container p-1 sm:mx-auto md:mx-auto lg:mx-auto mb-5">
        @include('partials/alert')
        <div class=" grid grid-cols-12 gap-4 grid-auto-row">
            <main class="col-span-12 lg:col-span-9">
                @section('content')
    
                @end
            </main>
            <aside class="col-span-12 lg:col-span-3">
                @section('aside')
    
                @end
    
            </aside>
        </div>
    
    </div>
    @include('partials/footer')
    @entryPointScripts('app')

</body>
</html>